{% extends 'base.html' %}
{% block title %} Job Search {% endblock %}
{% block content %}
<div class="view_jobs"><br>
    <div class="cont"> <br>
        <div style="overflow:auto">
            <div class="menu">
                <div class="card">
                    <div class="container">
                        <ul>
                            <li><a href="#">My jobs</a></li>
                            <li><a href="#">Job alerts</a></li>
                            <li><a href="#">Skill Assessments</a></li>
                            <li><a href="#">Interview prep</a></li>
                            <li><a href="#">Resume Builder</a></li>
                            <li><a href="#">Job seeker guidance</a></li>
                            <li><a href="#">Application settings</a></li>
                        </ul>
                    </div>
                </div>                  
            </div>
          
            <div class="main">
                <div class="posts">
                  <div class="create_post">
                    <button>Create a Post</button><br> <br>
                    <i class="fa fa-picture-o fa-2x" class="post_icon1" aria-hidden="true" style="margin-left:10px"></i>&emsp;Photo
                    <i class="fa fa-youtube-play fa-2x" class="post_icon2" aria-hidden="true" style="margin-left:40px"></i>&emsp;Video
                    <i class="fa fa-calendar fa-2x" class="post_icon3" aria-hidden="true" style="margin-left:70px"></i>&emsp;Event
                    <i class="fa fa-book fa-2x" class="post_icon4" aria-hidden="true" style="margin-left:100px"></i>&emsp;Write article <br>
                  </div>
                </div> <br><hr>
              <div class="main_post_card">
                <div class="container">
                  <h3>Vidyadhan</h3>
                  <p>672 followers <br> 21hr ago</p>
                  <p>Vidyadhan scholar Tejaswini BC from Karnataka is working as an Operation Executive at Infosys.</p>
                  <img src="https://skilljobrecommenderapplication.s3.jp-tok.cloud-object-storage.appdomain.cloud/post1.jpg" alt="post 1"> <br> <br>
                  <i class="fa fa-thumbs-o-up" aria-hidden="true" style="margin-left:50px;"></i>&emsp;Like
                    <i class="fa fa-comment-o" aria-hidden="true" style="margin-left:50px;"></i>&emsp;Comment
                    <i class="fa fa-repeat" aria-hidden="true" style="margin-left:80px"></i>&emsp;Repost
                    <i class="fa fa-paper-plane" aria-hidden="true" style="margin-left:110px"></i>&emsp;send <br>
                </div> <br>
            </div>    
            <hr>
          <div class="main_post_card" >
            <div class="container">
              <h3>TaskHuman</h3>
              <p>Promoted <br> 21hr ago</p>
              <p>Now On-Demand: TaskHuman's coaches in a discussion about the challenges women <br> are facing in the workplace and how to practice allyship. Watch Replay</p>
              <img src="https://skilljobrecommenderapplication.s3.jp-tok.cloud-object-storage.appdomain.cloud/post2.jpg"  alt="post 1"> <br><br>
              <i class="fa fa-thumbs-o-up" aria-hidden="true" style="margin-left:50px"></i>&emsp;Like
                <i class="fa fa-comment-o" aria-hidden="true" style="margin-left:50px"></i>&emsp;Comment
                <i class="fa fa-repeat" aria-hidden="true" style="margin-left:80px"></i>&emsp;Repost
                <i class="fa fa-paper-plane" aria-hidden="true" style="margin-left:110px"></i>&emsp;send <br>
            </div> <br>
        </div>    
        <hr>  
        <div class="main_post_card">
          <div class="container">
            <h3>Shreyas Shibulal</h3>
            <p>Founder & Director, Micelio - Electric Vehicles <br> 21hr ago</p>
            <p>It was a delight to have been a part of the Strategy and vision workshop for my <br> company, Numeros Motors, facilitated by Dr NS Rajan.</p>
            <img src="https://skilljobrecommenderapplication.s3.jp-tok.cloud-object-storage.appdomain.cloud/post3.jpg"  alt="post 1"> <br><br>
            <i class="fa fa-thumbs-o-up" aria-hidden="true" style="margin-left:50px"></i>&emsp;Like
              <i class="fa fa-comment-o" aria-hidden="true" style="margin-left:50px"></i>&emsp;Comment
              <i class="fa fa-repeat" aria-hidden="true" style="margin-left:80px"></i>&emsp;Repost
              <i class="fa fa-paper-plane" aria-hidden="true" style="margin-left:110px"></i>&emsp;send <br>
          </div> <br>
      </div>    
      <hr>  
            </div>
            <div class="right">
                <h3>Desired_Dream News</h3>
                <div class="container">
                  <ul>
                      <li><a href="#">Amazon announces devices layoffs 202,278 readers</a></li>
                      <li><a href="#">Narayana Murthy's take on education 3,512 readers</a></li>
                      <li><a href="#">Big Four ramp up cyber defences 114 readers</a></li>
                      <li><a href="#">Tech jobs in the metaverse 1,360 readers</a></li>
                  </ul>
              </div>
              </div>
          </div>
    </div>
{% endblock content %}
